<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="Sem_2course1semMyGame.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/META-INF/server-MF/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="Sem_2course1semMyGame" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-controls/11/javafx-controls-11-win.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-graphics/11/javafx-graphics-11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-controls/11/javafx-controls-11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-fxml/11/javafx-fxml-11-win.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-fxml/11/javafx-fxml-11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-base/11/javafx-base-11-win.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-graphics/11/javafx-graphics-11-win.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/openjfx/javafx-base/11/javafx-base-11.jar" path-in-jar="/" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-graphics:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-graphics:win:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-base:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-base:win:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-controls:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-controls:win:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-fxml:11" />
      <element id="library" level="project" name="Maven: org.openjfx:javafx-fxml:win:11" />
    </root>
  </artifact>
</component>